</main>
<footer>

    <!-- fill your footer here -->

    <!-- green wave -->

    <div class="wave-div">
        <img class="wave" id="greenWave" src="/images/green wave.svg" alt="green wave" height="383" width="1200">

        <img class="wave" id="yellowWave" src="/images/yellow wave.svg" alt="yellow wave" height="259" width="1194.2">
    </div>



        <img src="/images/left leaf.svg" class="leaf" alt="left leaf "/>
    

        <img id="rightLeaf" class="leaf" src="/images/right leaf.svg" alt="right leaf"/>

   



    <!-- bootstrap -->
    <script src="https://cdn.zjsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>

    </html>