<%- include("./partials/header.ejs") %>


    <div class="cloud">
        <img id="leftCloud" class="sticky" src="/images/cloud.svg" height="300" width="550" alt="cloud image" />


        <img id="rightCloud" class="sticky" src="/images/cloud.svg" alt="cloud image2" height="200" width="400" />
    </div>


    <div class="home-text sticky">
        <p>
            Add your ideas <br>

            Share your experiences <br>

            Pour your heart out <br>

            on
        </p>
        <input type='image' value="image" src='/images/blogify logo.svg' width='170' height='100' name='blogify' />
    
        <%# var homePageText=["<p> Add your ideas</p>"," <p>Share your experiences</p>"," <p> Pour your heart out</p>
            <input type='image' value="image" src='/images/blogify logo.svg' width='170' height='100'
                name='blogify' />"]%>


            <%# for(var i=0;i<3;i++){ %>

                <%# homePageText[i] %>


                    <%#} %>





                        <!-- <img src="/images/blogify logo.svg" alt="blogify logo"> -->
    </div>

    <%- include("./partials/footer.ejs") %>