<%- include("./partials/header.ejs") %>

<% console.log("postData key =",postData.key); %>
<!-- <form action="/delete-post?key=<%#= postData.key%>" method="POST">
    <label for="pwd">Enter post password : </label><br>
    <input type="password" name="password" id="pwd">
    <input type="submit" value="Submit">
</form> -->

<form class="form-inline postPasswordForm  " action="/update-post-page?key=<%= postData.key%>" method="POST">
    <div class="form-group">
      <label for="pwd">Enter Post Password</label>
      <input type="password" id="pwd" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" name="password">
      <small id="passwordHelpInline" class="text-muted">
        Must be 8-20 characters long.
      </small>
      <input type="submit" value="Submit">
    </div>
  </form>


<%- include("./partials/footer.ejs") %>