
.viewPost{
    display: flex;
   flex-direction: column;
   font-family: 'lora';
   text-align: center;
}

.viewPost h1{
    font-size: 3vw;
}
.viewPost h2{

    font-size: 2vw;

}

.post{
    margin: auto;
    font-size: larger;
    margin-top: 3vh;
}

 .content{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    
}
.blogImage{
    max-width: 60vw;
    max-height: 90vh;
}

